<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Events & Methods</title>
  <style>
    .box {
      background: green;
      width: 300px;
      height: 300px;
    }
  </style>
</head>
<body>

  <div id="app">
    <h1>{{ lesson }}</h1>
    <br>
    <h3>Counter: {{ counter }}</h3>
    <button @click="incrementCounter">Increment ++</button>
    <br><br>
    <div class="box" @mouseover="overTheBox">
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
