<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VueJS Todo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

  <div class="container mb-4 mt-3">
    <div id="app">
      <p class="mb-1"><strong>Remaining Tasks: {{ remainingTasks }}</strong></p>

      <task-list :tasks="tasks" :counter="counter" @submit-task="addNewTask" @del-todo="deleteTask"></task-list>

      <p class="text-muted" v-if="!remainingTasks">To add a new task, write something then press enter!</p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
