<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Computed Properties</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

  <div id="app">
    <p>Method 1: {{ getRandomNumber() }}</p>
    <p>Method 2: {{ getRandomNumber() }}</p>
    <p>Method 2: {{ getRandomNumber() }}</p>
    <hr>
    <p>Computed 1: {{ getRandomComputed }}</p>
    <p>Computed 1: {{ getRandomComputed }}</p>
    <p>Computed 1: {{ getRandomComputed }}</p>
    <br>
    <h5>Full Name: {{ fullName }}</h5>
    <h5>Reversed Full Name: {{ reversedFullName }}</h5>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
