<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Vue!</title>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <h3>{{ value }}</h3>
    <h2>{{ value * 5 }}</h2>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
