<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conditional Rendering</title>
</head>
<body>
  <div id="app">
    <h1>Product: {{ product }}</h1>
    <h2 v-if="quantity >= 20">Available</h2>
    <h2 v-else-if="quantity < 20 && quantity > 0">Limited Availability</h2>
    <h2 v-else>Out of stock</h2>
    <br>
    <h3 v-show="sale">On Sale!</h3>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
