{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
<h1>QuestionTime</h1>
<p class="lead text-muted">Share Your Knowledge!</p>
<div class="login-form-container">
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-sm btn-outline-primary">Login</button>
  </form>
  <small class="text-muted">
    <a href="{% url 'django_registration_register' %}">Create an Account</a>
  </small>
</div>
{% endblock %}
